* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font", monospace;
    transition: 20ms;
}

window {
    background-color: rgba(0, 0, 0, 0.9);
}

button {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #444444;
    border-radius: 0;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}